*{
    margin: 0px;
}
.title{
    color: blue;
    font-size: 100px;
    padding-left: 20px;
}
table{
    margin-top: 160px;
    width: 100%;
}
.t1{
 
    height:50%;
    width:50%;
}
.col-l{
    margin-left: 150px;
    font-size: 25px;
}
.t2{
    height:50px;
    width:50px;
}
.frm{
    color: blue;
    text-align: center;
    margin-left: 150px;
    font-size: 15px;
    border: rgb(65, 15, 231) 5px inset;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    margin-right: 120px;
}
.reg{
    text-decoration: none;
    background-color:green;
    color: white;
    border-radius: 5px;
    padding: 8px;
    
}
input[type="submit"]{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px;
    width:60%;
    

}
